---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!--p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

## 2020
-	Space, sensation, and interfaces, Biological NMR meeting, ETH Zürich, October 2020 (online)
-	Space, time, and sensation, 4th annual workshop on “Biological Mentality”, Ann Arbor, MI, October 2020 (online seminar, invited)
-	Experience and Nature, Center for Theory & Research, Esalen, CA, December 2019 (invited).
-	Where is the mentality in biological mentality? 3rd annual workshop on “Biological Mentality”, Ann Arbor, MI, November 2019 (online seminar, invited).
-	The Conscious Agent Framework, Modelling Consciousness workshop, Dorfgastein, Austria, March 2019.
-	Social Networks, Faggin workshop on consciousness, Half Moon Bay, CA, February 2019.
-	Topologically Structured Phenomenal Spaces and the Image of Nature, Progress and Visions in the Scientific Study of the Mind and Matter Relation (online seminar, invited), November 2018.
-	Mereotopologically Structured Phenomenal Spaces, workshop on dual-aspect theory, Herrischried, Germany, June 2018.
-	Interfaces, CA-networks and the CIP-framework, Faggin workshop on consciousness, Half Moon Bay, CA, March 2017.
-	Puzzles for the Conscious Mind, Institute for Neuroinformatics, University of Zürich, Switzerland, August, 24th, 2016 (invited). 
-	Chemical Concepts for Mind-Matter Theories, International Symposium for the Philosophy of Chemistry, Boca Raton, FL, August, 3th, 2016. 
-	Werkstattgespräch, Entresol (Swiss Society for the Science of the Psyche), Zürich, Switzerland, April, 4th, 2016 (invited). 
-	Philosophical Challenges from Embodiment, 18th Herbstakademie: The Circularity of Mind and Body, Heidelberg, March, 27th, 2015. 
-	Two Issues in the Philosophy of Mind – Analogies and Mereology, Workshop on Dual-Aspect Theories, Collegium Helveticum and Chair for Philosophy, ETH Zürich, June, 6th, 2014. 
-	Emergence and Panpsychism, Philosophy Colloquium, ETH Zu ̈rich, Switzerland, February, 19th, 2014. 
-	Emergenz des Seelischen und Analogien in der Natur, Swiss Graduate Conference, Lucerne University, Switzerland, February, 15th, 2014. 
-	The quantum dynamics of tunneling and parity violation in chiral and achiral molecules, Physical Chemistry Colloquium, ETH Zürich, Switzerland, October, 2012 . 
-	Quantum dynamics and molecular parity violation, Telluride science workshop on “Electronic and magnetic properties of chiral structures and their assemblies”, Telluride, CO, July, 2012. 
-	Quantum wavepacket dynamics of stereomutation process and parity violation in chiral molecules, Bunsen-Society meeting on “Analysis and Control of Ultrafast Photo-induced Reactions” (scheduled as “hot topic”), Berlin, Germany, June 2011. 
-	Oral contribution regarding Melanie Schnell: “Tailored molecular samples for precision spectroscopy experiments”, Faraday Discussion 150, Basel, Switzerland, April 2011. 
